/* .red{
    background-color: red !important;
    border: 1px solid black;
}
.yellow{
    background-color: yellow !important;
    border: 1px solid black;
}
.green{
    background-color: green !important;
    border: 1px solid black;
}
.box{
    margin:0 auto;
    width: 150px;
}
.box div {
    width: 90px;
    height: 90px;
    border: 1px solid;
    border-radius: 50%;
    background-color: grey;
} */



/* 
#from{
    width: 50px;
}
#to{
    width: 50px;
}
#amount{
    width: 50px;
    position: relative;
} */


